<div class="container"></div>
    <h1>Please enter your activity</h1>
    <form name="submitForm" action="/calendar/post" method="post">
        <input class="form-control" type="text" value="{{generateID}}" name="id" id="id-input">
        <div class="form-group row">
            <label for="year-input" class="col-2 col-form-label">Year</label>
            <div class="col-10">
                <input class="form-control" type="text" value="" name="year" id="year-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="month-input" class="col-2 col-form-label">Month</label>
            <div class="col-10">
                <!--<input class="form-control" type="text" value="" >-->
                <select class="form-control" name="month" id="month-input" >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="day-input" class="col-2 col-form-label">Day</label>
            <div class="col-10">
                <input class="form-control" type="text" value="" name="day" id="day-input">
                
            </div>
        </div>
        <div class="form-group row">
            <label for="note-input" class="col-2 col-form-label">Note</label>
            <div class="col-10">
                <!--<input class="form-control" type="text" value="" name="note" id="note-input">-->
                <select class="form-control" name="note" id="note-input" >
                    <option value="Run">Run</option>
                    <option value="Bike">Bike</option>
                    <option value="Workout">Workout</option>
                </select>
            </div>
        </div>
        <input class="form-control btn btn-primary" type="submit" value="Submit">
    </form>
</div>