<h1>Please enter your activity</h1>
<form name="submitForm" action="/calendar/post" method="post">
    <label>Year</label>:<input type="text" name="year" ><br>
    <label>Month</label>:<input type="text" name="month" ><br>
    <label>Day</label>:<input type="text" name="day" ><br>
    <label>Note</label>:<input type="text" name="note" ><br>
    <input type="submit" value="Submit">
</form>
