body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.daybox {
  float:left;
  width:13%;
  border:1px #333 solid;
  height:100px;
}

.note {
  color:#00B7FF;
}